build
*.pyc
dist
.noseids
fandjango.egg-info
*.swp
*.debhelper
build/
debian/djangocanvas
debian/python-djangocanvas
*.log
*.substvars
debian/python-module-stampdir/
djangocanvas.egg-info/

debian/*/*
debian/files
